footer{ 
    font-weight: 400;
    font-size: 2rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #0ad9f0;
}

h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/* color de fondo para las secciones */
.color-fondo{ 
    background-color: #000000;
}

#formulario {
    padding: 120px;
    color: white;
    justify-content: center;
    margin: auto;
    text-align: left;
}

/* Ajuste de la simagenes de las tarjetas */
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
