* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pizza-img {
    width: 480px;
    height: 350px;
    
}


.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #000000 !important;
}



footer{ 
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #0ad9f0;
}


.navbar {
    color: white;
}


/* #pizza-contenedor img, h1, h2, button {
    display: inline-block;
    vertical-align: middle;
} */
/* .navbar-brand img {
    width: 7rem;
} */

/* Aplica solo a los titulos de las tarjetas */
/* h1, .card .card-title {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 500;
    color: #212529;
} */

/* Aplica solo a los titulos de los productos de las tarjetas */
/* h1, .card .card-body {
    font-family: 'Roboto Light', sans-serif;
    font-weight: 500;
    color: #212529;;
}

h2, .card .card-body {
    font-family: 'Roboto Light', sans-serif;
    font-weight: 500;
    color: #707070;
} */


/* Estilo para precio oferta de las tarjetas */
h4, .card .card-title {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 500;
    color: #28A745;
}

/* Estilo para precio real de las tarjetas */
h5, .card .card-title {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 300;
    color: #707070;
}

.texto-brand {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: white;
}

#formulario {
    padding: 150px;
    background-color:#000000 ;
    color: white;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/* #newsletter .wrapper {
    justify-content: center;
    margin: auto;
    text-align: center;
} */

